.switch-ctrl{
  color: #d3d3d3;
}

.switch-ctrl .switch-toggle.switch-candy, .switch-light.switch-candy > span{
  background-color: #fff;
}
.switch-ctrl .switch-light.switch-candy span span, .switch-light.switch-candy input:checked ~ span span:first-child, .switch-toggle.switch-candy label{
  text-shadow:none;
  color: #d3d3d3;
}
.switch-ctrl .switch-toggle.switch-candy, .switch-light.switch-candy > span{
  border-radius: 45px;
}
.switch-ctrl .switch-candy a{
  border: 0px;
}
.switch-ctrl .switch-candy a {
  background-color: #b82828;
}
.switch-ctrl .switch-light.switch-candy input ~ span span:first-child, .switch-light.switch-candy input:checked ~ span span:nth-child(2), .switch-candy input:checked + label{
  /*color: rgba(255,255,255,0.8);*/
}

.switch-ctrl label > span{
  padding: 15px;
}


 input:focus ~ span a,  input:focus + label{
  outline-width: 0px;
}
