<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Jobs</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SignUp</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="row">
          <div class="switch-ctrl">
            <div>
              <label class="switch-light switch-candy switch-android " onclick="">
                <input type="checkbox"
                       [checked]="user.toggle === toggles[0].value"
                       (change)="$event.target.checked? (user.toggle =  toggles[0].value) : (user.toggle = toggles[1].value)" >
                <span>
                    <span>Post a Job</span>
                    <span>Seeking Job</span>
                    <a></a>
                </span>
              </label>
            </div>
          </div>
      </div>
      <div class="row">
        <div *ngIf="user.toggle == 'seeking'">
          <h2>Seeking Job</h2>
          <div style="width: 350px">
            <fieldset>
              <legend>View</legend>
              <div class="switch-toggle switch-candy">
                <input id="seek1" name="view" type="radio" checked>
                <label for="seek1" onclick="">seek 1</label>

                <input id="seek2" name="view" type="radio">
                <label for="seek2" onclick="">seek 2</label>

                <input id="seek3" name="view" type="radio">
                <label for="seek3" onclick="">seek 3</label>
                <a></a>
              </div>
            </fieldset>
          </div>
        </div>

        <div *ngIf="user.toggle == 'posting'">
          <h2>Posting Job</h2>
          <div style="width: 350px">
            <fieldset>
              <legend>View</legend>
              <div class="switch-toggle switch-candy">
                <input id="post1" name="view" type="radio" checked>
                <label for="post1" onclick="">Post 1</label>

                <input id="post2" name="view" type="radio">
                <label for="post2" onclick="">Post 2</label>

                <input id="post3" name="view" type="radio">
                <label for="post3" onclick="">post 3</label>
                <a></a>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
